<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ganguo.paysdk">

    <application>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- alipay sdk end -->

    </application>

</manifest>
